<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Cart</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="assets/css/responsive.css">

</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->

    <!-- header -->
    {{> ../fragments/header}}
    <!-- end header -->

	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search arewa -->
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Apuesta</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- cart -->
    <div class="cart-section mt-150 mb-150">
        <div class="container">
            <h2>Eventos apostados</h2>
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="cart-table-wrap">
                        <table class="cart-table">
                            <thead class="cart-table-head tr">
                            <tr class="table-head-row">
                                <th class="product-remove"></th>
                                <th class="product-name">Partido</th>
                                <th class="product-price">Resultado</th>
                                <th class="product-price">Cuota</th>
                                <th class="product-quantity">Dinero apostado</th>
                                <th class="product-money">Ganancias</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#bets}}
                                <tr class="table-body-row">
                                    <td class="product-remove"><a href="#"><i class="fa-shopping-cart"></i></a></td>
                                    <td class="product-name">{{event.name}}</td>
                                    <td class="product-price">{{result}}</td>
                                    <td class="product-price">{{event.fee}}</td>
                                    <td class="product-quantity">{{bet_amount}}</td>
                                    <td class="product-money">{{winning_amount}}</td>
                                </tr>
                            {{/bets}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="total-section">
                        <table class="total-table">
                            <tbody>
                            <tr class="total-data">
                                <td><strong>Total apostado: {{total-bet}}</strong></td>
                                <td id="total-apuesta"></td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Ganacias totales: {{total-winning-amount}}</strong></td>
                                <td id="total-ganancia"></td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Beneficio total: {{total-benefit}}</strong></td>
                                <td id="Beneficio"></td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="cart-buttons">
                            <a href="/bets" class="boxed-btn">Apostar</a>
                            <a href="/pdf/generate" class="boxed-btn black">Descargar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- end cart -->

    <!-- footer -->
    {{> ../fragments/footer}}
    <!-- end footer -->

    <!-- copyright -->
    {{> ../fragments/copyright}}
    <!-- end copyright -->
	
	<!-- jquery -->
	<script src="assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="assets/js/main.js"></script>

</body>
</html>