<link routerLink="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="top-header-area" [ngClass]="{'active': scrolled}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- logo -->
                    <div class="site-logo">
                        <a routerLink="/home">
                            <img src="assets/img/logo.png" alt="">
                        </a>
                    </div>
                    <!-- logo -->

                    <!-- menu start -->
                    <nav class="main-menu">
                        <ul>
                            <li class="current-list-item"><a routerLink="/home">Inicio</a></li>
                            <li><a routerLink="/bets">Apuestas</a></li>
                            <!-- <li *ngIf="isAdmin"><a routerLink="/betsadmin">Apuestas Administrador</a></li> -->
                            <li><a>Información</a>
                                <ul class="sub-menu">
                                    <li><a routerLink="/contact">Contacto</a></li>
                                    <li><a routerLink="/responsablegame">Juego Responsable</a></li>
                                    <li><a routerLink="/aboutus">Sobre nosostros</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="header-icons">
                                    <a class="mobile-hide" routerLink="/wallet"><i class="material-icons">account_balance_wallet</i></a>
                                    <a class="shopping-cart" routerLink="/cart"><i class="material-icons">receipt</i></a>
                                    <a class="mobile-hide" routerLink="/profile"><i class="material-icons">account_circle</i></a>
                                    <!-- Search bar not implemented: <a class="mobile-hide search-bar-icon" routerLink="#"><i class="fas fa-search"></i></a> -->
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <!-- Search bar icon disabled for now
                    <a class="mobile-show search-bar-icon" routerLink="#"><i class="fas fa-search"></i></a>
                    <div class="mobile-menu"></div> -->
                    <!-- menu end -->

                </div>
            </div>
        </div>
    </div>
</div>
