<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">Sobre Nosotros</h2>
                    <p>Mortez365 nace en 2024 con la necesidad de brindar el mayor disfrute posible a nuestros clientes, garantizando máxima calidad y las mejores cuotas del mercado.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">Contacto</h2>
                    <ul>
                        <li>C/ de la Luminosa, Móstoles, Madrid</li>
                        <li>mortez365.contacto&#64;gmail.com</li>
                        <li>+34 685 16 48 21</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Secciones</h2>
                    <ul>
                        <li><a routerLink="/index">Inicio</a></li>
                        <li><a routerLink="/bets">Apuestas</a></li>
                        <li><a routerLink="/roulette">Ruleta</a></li>
                        <li><a routerLink="/slots">Slots</a></li>
                        <li><a routerLink="/games">Juegos</a></li>
                        <li><a routerLink="/info">Información</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box subscribe">
                    <h2 class="widget-title">Abonarse</h2>
                    <p>Abónate a nuestro correo para recibir las últimas novedades.</p>
                    <form action="/index">
                        <input type="email" placeholder="Email">
                        <button type="submit"><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
