
	<!--PreLoader-->

    <!--PreLoader Ends-->
	<!-- header -->
	<app-header-no-transparent></app-header-no-transparent>
	<!-- end header -->
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->
	<!-- breadcrumb-section -->
	<!-- end breadcrumb section -->
	<!-- check out section -->
	<div class="checkout-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
							<div class="card single-accordion">
								<div class="card-header" id="headingOne">
									<h5 class="mb-0">
										<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											Datos personales
										</button>
									</h5>
								</div>
								<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
									<div class="card-body">
										<div class="billing-address-form">
											<form action="/register" method="post" enctype="multipart/form-data">
												<p><input id="name" name="name" type="text" placeholder="Nombre" required></p>
												<p><input id="firstsurname" name="firstsurname" type="text" placeholder="Primer apellido" required></p>
												<p><input id="secondsurname" name="secondsurname" type="text" placeholder="Segundo apellido" required></p>
												<p><input id="birthdate" name="birthdate" type="date" placeholder="Fecha de nacimiento" required></p>
												<p><input id="nationality" name="nationality" type="text" placeholder="Nacionalidad" required></p>
												<p><input id="dni" name="dni" type="text" placeholder="DNI" required></p>
											</form>
										</div>
									</div>
								</div>
							</div>
							<div class="card single-accordion">
								<div class="card-header" id="headingTwo">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											Datos de contacto
										</button>
									</h5>
								</div>
								<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
									<div class="card-body">
										<div class="billing-address-form">
											<p><input id="adress" name="adress" type="text" placeholder="Dirección" required></p>
											<p><input id="postcode" name="postcode" type="number" placeholder="Código postal" required></p>
											<p><input id="telephone" name="telephone" type="number" placeholder="Teléfono" required></p>
											<p><input id="email" name="email" type="email" placeholder="Email" required></p>
										</div>
									</div>
								</div>
							</div>
							<div class="card single-accordion">
								<div class="card-header" id="headingFour">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
											Método de pago
										</button>
									</h5>
								</div>
								<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
									<div class="card-body">
										<div class="billing-address-form">
											<p><input id="card_number" name="card_number" type="number" placeholder="Número de tarjeta" required></p>
											<p><input id="cvv" name="cvv" type="number" placeholder="CVV" required></p>
											<p><input id="expired_date" name="expired_date" type="month" pattern="MM/yy" min="2025-01" placeholder="Fecha de expiración" required></p>
										</div>
									</div>
								</div>
							</div>
							<div class="card single-accordion">
								<div class="card-header" id="headingThree">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											Datos de usuario
										</button>
									</h5>
								</div>
								<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
									<div class="card-body">
										<div class="billing-address-form">
											<p><input id="username" name="username" type="text" placeholder="Usuario" required></p>
											<p><input id="password" name="password" type="password" placeholder="Contraseña" required></p>
											<p><input id="imageFile" name="imageFile" type="file" placeholder="Imagen" required></p>
											<div>
												<label for="age">Acepto que tengo la mayoría de edad</label><input style="margin-left: 15px" type="checkbox" id="age" name="age" required>
											</div>
											<div>
												<label for="terms">Acepto los <a href="assets/pdf/CondicionesGeneralesMortez365.pdf" download>términos y condiciones</a></label>
												<input type="checkbox" style="margin-left: 15px" id="terms" name="terms" required>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div style="text-align: right;">
								<input type="submit" class="boxed-btn">
							<!--	<input type="hidden" name="_csrf" value="{{token}}"/> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end check out section -->
	<!-- footer -->
	<app-footer></app-footer>
	<!-- end footer -->
	<!-- copyright -->
	<app-copyright></app-copyright>
	<!-- end copyright -->

